* {
    margin: 0;
    padding: 0;
}
body {
    background: url('slate-texture-background.jpg') no-repeat;
    background-size: cover;
    height: 100vh; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

body div {
    width: 100vw;
    height: 90%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: clamp(48px, 6vw, 100px);

}

h1:hover {
    background: linear-gradient(to left, #FF7D7D, #F4DD7D, #A8CF45);
    -webkit-background-clip: text;
    color: transparent;

}

footer {
    border-top: 2px dashed white;
    text-align: center;
    padding-top: 1.5rem;
}

footer p {
    font-size: clamp(16px, 1.5vw, 30px);
}

footer a {
    color: white;
    text-decoration: none;
}